// Utils
@import "utils/variables";
@import "utils/mixins";
@import "utils/animationsDelays";


// Components
@import "components/buttons";
@import "components/spinners"; 

// Base
@import "base/index/fonts";
@import "base/index/index";
@import "base/index/localisation";
@import "base/index/reservation";
@import "base/index/fonctionnement";
@import "base/index/restaurants";
@import "base/menus/menus"; 

// Layout 
@import "layout/header";
@import "layout/footer";
@import "layout/breakpoints";

// Pages 
// Themes 
// Vendors 
