
.blocklg {
    background-color: white;
    @include flexposition-center();
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.10);
    position: relative;
    height: 55px;
    width: 100%;
    &__logo {
        font-family: 'Shrikhand', cursive;
        color: black;
        margin: 0;
    }
}

.back {
    position: absolute;
    width: 20px;
    height: 40px;
    left: 20px;
    top: 15px;
    font-size: 20px;
    & i {
        color: black;
    }
}