//couleurs principales
$grad : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//couleur des icones fonctionnement
$color-icons-fonctment: #9356DC;


