.fonct__container {
    padding: 25px 0 50px 0;
    width: 100%;
    background: white;
    @include flexposition-center;
    flex-direction: column;
}

.fonct {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0 ;   
    display: flex;
    flex-direction: column ;
    &__title {
        margin: 20px 0 20px 10px;
    }
    &__step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: 70px;
        width: auto;
        margin: 10px 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
        @include btn-hover;
        background: #f1e5ff;      
           
        i {
            color: $color-icons-fonctment;      
                 
          } 
      }
}
        &__number {
                background-color: $color-primary;
                color: white;
                position: absolute;
                padding: 3px 8px 3px 8px;
                border-radius: 500px;
                transform: translateX(-50%);
            }
        &__icon {
            color: #7E7E7E;
            margin: 0 20px;
        }
    &__steps {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}