



.restaurants {
    width: 100%;
    background: #f6f6f6;
    max-width: 1200px;
    }

.restaut__title {
    
    
    margin: 50px 0px 10px 20px;
    }

.restaublock{
    @include flexposition-center;
    flex-direction: column;
    margin: 10px 20px 60px 20px;
    

.restaurant {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 0 10px 0;
           
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        &-new {
            @include flexposition-center;
            position: absolute;
            background: #99e2d0;
            top: 20px; right: 20px;
            & p {
                color: #1b6150;
                padding: 10px 20px;
                margin: 0;
            }
        }
        &:hover {
            transition: .5s;
            transform: scale(1.02);
            box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
        }
        &-image {
            width: 100%;
            height: 190px;
            & > img {
                
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
                
            }
        }
    }
    &__block {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        border-radius: 0 0 20px 20px;
        &-info {
            color: black;
            margin-left: 20px;
            & > :first-child {
                font-weight: 600;
            }
        }
        &-heart {
        padding-left: 30px;
        }
        & span{
         
        @include heart-before;
        .fas 
        {opacity: 0%;}
        
        &:hover {
            @include heart-after;
            .fas {
               @include heart-full;
             
            }  
        }    
    }
}
}
}