.pub{
    background: #f6f6f6;
    width: 100%;   
&__container{
    @include flexposition-center;
    flex-direction: column;
    padding: 50px 20px 50px 0px;
    width: 100%;
}
&__title {
    max-width: 280px;
    text-align: center;
    margin: 0;  
}
&__dsc{
    max-width: 280px;
    text-align: center;
    font-weight: 200;
      
}
&__btn{
    @include btn;
    margin-top: 10px;
    &:hover {
    @include btn-hover;
    }
  }
}